node_modules
scripts
.github
.pdm-build
.venv
.vscode
data
configs
.env.dev
.env
.env.prod
docker/docker-compose.yml
package-lock.json
package.json
.pdm-python
.pre-commit-config.yaml
db_config.yaml.example
db_config.yaml
.git
