<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>migang_task_menu</title>
    <link rel="stylesheet" href="./res/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="task_menu.css">
</head>

<body>
    <div class="wrapper">
        <main class="des">
            <p>发送 [开启/关闭xxx]被动名 启闭群被动</p>
            <p style="color:red;">注：横线字功能被群管理员禁用，浅色字功能全局禁用
            </p>
        </main>
        <div class="content">
            <div style="--themebordercolor:#faccce;--themebgcolor:#faccce0A;--pluginbgcolor:#faccce5c;">
                {% for item in task_list %}
                {% if item.global_status == False %}
                <span class="ban">
                    {{item.name}}
                    <div class="splic"></div>
                </span>
                {% elif item.group_status == False %}
                <span>
                    <del>{{item.name}}</del>
                    <div class="splic"></div>
                </span>
                {% else %}
                <span>
                    {{item.name}}
                    <div class="splic"></div>
                </span>
                {% endif %}
                {% endfor %}
            </div>
        </div>


    </div>
</body>

</html>